@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?huwbv9');
  src:  url('fonts/iconfont.eot?huwbv9#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?huwbv9') format('truetype'),
    url('fonts/iconfont.woff?huwbv9') format('woff'),
    url('fonts/iconfont.svg?huwbv9#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e619";
}
.icon-jia:before {
  content: "\e652";
}
.icon-bofang:before {
  content: "\e615";
}
.icon-mute:before {
  content: "\e504";
}
.icon-qiatong-suijibofang:before {
  content: "\e685";
}
.icon-danquxunhuan:before {
  content: "\e62a";
}
.icon-pinglun:before {
  content: "\e60c";
}
.icon-shunxubofang-:before {
  content: "\e662";
}
.icon-ziyuan:before {
  content: "\e602";
}
.icon-xiazai:before {
  content: "\e67c";
}
.icon-xinaixin1:before {
  content: "\e60a";
}
.icon-xinaixin:before {
  content: "\e60d";
}
.icon-shengyin:before {
  content: "\e67e";
}
.icon-xunhuanbofang:before {
  content: "\e726";
}

.icon-icon2:before {
  content: "\e694";
}
.icon-xiayiqu:before {
  content: "\e61c";
}
.icon-icon226:before {
  content: "\e506";
}
.icon-shangyiqu1:before {
  content: "\e51f";
}
.icon-bofang-:before {
  content: "\e603";
}
.icon-zanting-:before {
  content: "\e604";
}
